body {
	background-color: black;
	color: white;
}
table {
	border-color: white;
}
h6 {
	color: #666666;
}
p {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
}
p#table_name {
	font-size: 20px;
}
h3#tagsName {
	padding-left: 35px;
}
h3#attName {
	padding-left: 35px;
}
a#links {
	padding-left: 20px;
}